.About {
  display: grid;
  margin: 7em 0.7em 0 0.7em;
  grid-template-columns: 25% auto;
  grid-template-rows: 25% auto;
}

.about-img {
  width: 100%;
  border-radius: 20%;
}

.about-imgcontainer {
  display: flex;
  align-items: center;
  grid-row: 1 / span 3;

}

.about-hello {
  margin-top: 1em;
  margin-left: 1em;
}

.about-desc {
  margin-left: 1em;
}

@media screen and (min-width: 480px) {
  .About {
    margin: 8em 0.7em 0 0.7em;
  }
}

@media screen and (min-width: 590px) {
  .About {
    margin: 9em 0.7em 2em 0.7em;
  }
}

@media screen and (min-width: 680px) {
  .About {
    margin: 10em 0.7em 2em 0.7em;
  }
}

@media screen and (min-width: 750px) {
  .About {
    margin: 13em 0.7em 2em 0.7em;
  }
}

@media screen and (min-width: 1060px) {
  .About {
    margin: 16em 0.7em 2em 0.7em;
  }
}

@media screen and (min-width: 1380px) {
  .About {
    margin: 19em 0.7em 2em 0.7em;
  }
}
